.containerr {
  width: 100%;
  height: 100%;
  flex: 1;
  order: 1;
  border-radius: 20px;
  margin-bottom: 0.75rem;
  position: relative;
}

.para-two {
  display: block;
  font-family: "Noto Sans" sans-serif;
}

@media only screen and (max-width: 768px) {
  .para-two {
    display: none;
  }
}
